<nav class="navbar navbar-light bg-light" [class]="dark ? 'navbar-dark bg-dark':'navbar-light bg-light' ">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1 f_3_2vmin ">PFPS (Pricing For Profit System)</span>
      <div class="right-float">
        <div class="topnav-end-container">
          <div *ngIf="route.url == '/' && !service.isViewSubCalcutions && isAD_or_HO_Btn() != 'NO'" class="drophover me-2"> 
            <!--route.url.split('?')[0] === '/'  [queryParamsHandling]="'merge'"  [queryParamsHandling] will come near routerLink--> 
            <button class="btn btn2 btnn3 " [class]="dark ? 'whitecolor dark-bg dark-btn':'none'" routerLink="/admin"
              [matBadge]="service.pendingApproval_length" 
              [matBadgeHidden]="service.pendingApproval_length<1 || isAD_or_HO_Btn() == 'HO'" >
              <span  *ngIf="isAD_or_HO_Btn() == 'AD'">Admin</span> 
              <span  *ngIf="isAD_or_HO_Btn() == 'HO'">View Summary</span>
            </button>
          </div>
          <div *ngIf="route.url == '/'" class="drophover">
            <div class="dropdown me-2">
              <button class="btn btn2 btnn3" [class]="dark ? 'whitecolor dark-bg dark-btn':'none'">
                <span class="drop-btn" *ngIf="INR_val.checked">INR</span>
                <span class="drop-btn" *ngIf="USD_val.checked">USD</span>&nbsp;
                <i class="fa-solid fa-caret-down drop-btn"></i>
              </button>
              <div class="dropdown-content ">
                <input type="radio" #INR_val class="btn-check" (click)="INR()" name="options" id="option1" autocomplete="off" checked />
                <label class="btn btn-radio" for="option1">INR
                  <span class="btn-currency right-float">₹</span>
                </label>
                <input type="radio" #USD_val class="btn-check" (click)="USD()" name="options" id="option2" autocomplete="off" />
                <label class="btn btn-radio" for="option2">USD
                  <span class="btn-currency right-float">$</span>
                </label>
              </div>
            </div>
          </div>
          <div *ngIf="route.url == '/admin'" class="drophover me-2">
            <button class="btn btn2 btnn3" [class]="dark ? 'whitecolor dark-bg dark-btn':'none'" routerLink="/">
              Home
            </button>
          </div>
          <!-- <div class="theme-btn-container ms-3 ">
            <span *ngIf="!dark" class="light-theme" (click)="dark_theme()">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon-fill" viewBox="0 0 16 16">
                <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z" />
              </svg>
            </span>
            <span *ngIf="dark" class="dark-theme" (click)="light_theme()">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-brightness-high-fill" viewBox="0 0 16 16">
                <path d="M12 8a4 4 0 1 1-8 0 4 4 0 0 1 8 0zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
              </svg>
            </span>
          </div> -->
          <div class="profile">
            <i class="fas fa-user-circle fa-lg PFPS-blue-lt pointer"(click)="open(sideNav_Parent)"></i>
          </div>
        </div>
      </div>
    </div>
  </nav>