<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Rate Card Calculator</a>
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <span class="navbar-text">
        <div>
          <div class="drophover">
            <div class="dropdown me-2">
              <button class="btn">Currency &nbsp;<i class="fa-solid fa-caret-down" style="font-size: 15px;"></i></button>
              <div class="dropdown-content ">
              <ul class="ul">
                <li class="li" (click)="INR()">INR <span class="right-float"> ₹</span> </li>
                <li class="li" (click)="USD()">USD <span class="right-float"> $</span> </li>
                <li></li>
              </ul>
              </div>
            </div>
          </div>
        </div>
      </span>
    </div>
  </div>
</nav>
<!---------------------- Navbar  ------------------////////-->
<!---------------- Desired Bill Rate ------------------------>
<div class="car mx-4 mx-md-5 mt-2">
  <span class="s1 ms-2"> 
    <span class="st-2">
      <span class="ms-1 px-3 t1">I Know Bill Rate </span>
    </span>
    <span class="st-1">
      <span class="cyan-text px-3 t1">Desired Bill Rate</span>
    </span>
    <span class="st-2">
      <span class="px-3 t1">Backfill Comparison</span>
    </span>
  </span>
  <div class="card-body card-body1 py-5 px-md-5">
    <div class="row d-flex justify-content-center mt-4">
      <div class="col-lg-4">
        <h2 class="fw-bold mb-5">Desired Bill Rate</h2>
        <form class=" stretch-align" [formGroup]="CalculateForm" method="POST">
        <!-- action="{{py}}" -->
           <!----- Employee Name ------>
          <div class="form-outline mb-4">
            <input type="text"  placeholder=" " 
              [matAutocomplete]="auto" 
              formControlName="emp_name" 
              id="employeename" name="employeename" 
              class="form-control" 
              [class]="emp_name?.valid && AutoCompleteOptions() ? 'fc' :'fcr'"  
            />
            <label class="form-label fcl" for="loginName">Employee Name</label>
            <mat-error class="mat-errors" *ngIf="emp_name?.touched && emp_name?.hasError('required')"> Employee Name is required! </mat-error>
            <!-- <mat-error class="mat-errors" *ngIf="emp_name?.touched && emp_name?.hasError('minlength')"> Atleast 3 characters required! </mat-error> -->
            <!-- <mat-error class="mat-errors" *ngIf="emp_name?.touched && emp_name?.hasError('pattern')"> Only Alphabets!</mat-error> -->
            <div *ngIf="emp_name?.touched && emp_name?.hasError('required')">
            </div>
            <mat-error class="mat-errors" *ngIf="emp_name?.touched && !AutoCompleteOptions() && emp_name?.value!='' "> Custom names not allowed!</mat-error>
            
            <mat-autocomplete  #auto="matAutocomplete" >
              <div *ngIf=" emp_name?.valid">
               <mat-option [class]="length() ? 'mat-options' : 'mat-options-error'" *ngFor="let option of filteredOptions | async" [value]="option">
              <div *ngIf="length()">
                 {{option}}
                 </div>
               </mat-option>
              </div>
             </mat-autocomplete>
          </div>
          <!---------- CTC ---------->
          <div class="form-outline mb-4">
            <input type="text" placeholder=" " formControlName="ctc" id="ctc" name="ctc" class="form-control"  [class]="ctc?.valid ? 'fc' :'fcr'"  />
            <label class="form-label fcl"  for="loginPassword">CTC ( in ₹ )</label>
            <mat-error class="mat-errors" *ngIf="ctc?.touched && ctc?.hasError('required')"> CTC is required! </mat-error>
            <mat-error class="mat-errors" *ngIf="ctc?.touched && ctc?.hasError('pattern')">Only Numbers! </mat-error>
          </div>
          <!--------- Markup --------->
          <div class="form-outline mb-4">
            <input type="text" placeholder=" " formControlName="markup" id="markup" name="markup" class="form-control"  [class]="markup?.valid ? 'fc' :'fcr'"  />
            <label class="form-label fcl" for="loginPassword">Markup (%)</label>
            <mat-error class="mat-errors" *ngIf="markup?.touched && markup?.hasError('required')"> Markup is required! </mat-error>
            <mat-error class="mat-errors" *ngIf="markup?.touched && markup?.hasError('pattern')">Only Numbers! </mat-error>
          </div>
          <!-- Total Hours -->
          <div class="form-outline fo mb-5">
            <input type="text" placeholder=" " formControlName="t_hours" id="totalhours" name="totalhours" class="form-control"  [class]="t_hours?.valid ? 'fc' :'fcr'"  />
            <label class="form-label fcl"  for="loginPassword">Total Hours per month</label>
            <mat-error class="mat-errors" *ngIf="t_hours?.touched && t_hours?.hasError('required')"> Total Hours is required! </mat-error>
            <mat-error class="mat-errors" *ngIf="t_hours?.touched && t_hours?.hasError('pattern')">Only Numbers! </mat-error>
          </div>
          <div style="display: inline !important;">
          <button value="new" type="submit" [disabled]="CalculateForm.invalid || !AutoCompleteOptions()" (click)="calculate()" class="btn btn-info btnn me-2" style="font-size:small">
            Calculate
          </button>
          <button type="button" [disabled]="CalculateForm.pristine" (click)="clear()"  class="btn btnn Clr-Btn" style="font-size:small">
            Clear
          </button>
        </div>
        </form>
      </div>
      <div class="col-lg-8" >
      <!------------------ Right Container ---------------------->
        <div class="card mx-4 mx-md-5 shadow-5-strong card-style sw mb-5 rightbox">
          <div class="card-body card-body2 py-5 px-md-5">
            <div class="whitecolor mt-1 h-split3">
              <div>
                  <span class="f-1-5vw">Name : 
                    <label class="text-info" id="E-Name">{{Emp_name}}</label>
                  </span>
                  <br>
                  <div class="f-1-5vw my-pt-5">CTC / Annum : 
                      <span class="text-info h1-txt" *ngIf="!USD_value">{{ctc_perAnnum_INR | iNRCurrency:[]}}
                        <!-- <span  *ngIf="ctc_perAnnum_INR==''">0</span> -->
                      </span>
                      <span class="text-info h1-txt" *ngIf="USD_value">{{ctc_perAnnum_USD | currency:'USD' : 'symbol' : '1.0-0'}}
                        <span  *ngIf="ctc_perAnnum_INR==''">$</span>
                      </span>
                  </div>
              </div>
              <div class="my-mt-7">
                  
                  <i *ngIf="ctc_perAnnum_INR!=''"
                  (click)="exportExcel()"
                  class="fas fa-download export" 
                  matTooltip="Export as Excel"
                  ></i>
                  <!-- <i class="fa-solid fa-clipboard" style="float:right"></i> -->
                  <i *ngIf="ctc_perAnnum_INR!=''"
                  (click)="snackbar()" 
                  [cdkCopyToClipboard]="copy_value" 
                  class="fas fa-copy copy"
                  matTooltip="Copy to Clipboard"
                  ></i>
                  <!-- matTooltipPosition="right" -->
              </div>
            </div>
            <hr class="white-hr mt-1" >
            <!--------- Right Box Center Content ----------------->
            <div class="row1">
              <div *ngIf="ctc_perAnnum_INR!=''" class="whitecolor v-split">
                <div>
                  <span class="fw-bold mb-5 whitecolor h1-head">CTC</span>
                </div>
                <div class="h-split">
                  <div>
                    <span class="text-info h1-txt"*ngIf="!USD_value">{{ctc_perMonth_INR | iNRCurrency:[]}}</span> <span class="h1-head" *ngIf="!USD_value"> / Month</span> 
                    <span class="text-info h1-txt"*ngIf="USD_value">{{ctc_perMonth_USD | currency:'USD' : 'symbol' : '1.0-0'}}</span> <span class="h1-head" *ngIf="USD_value"> / Month</span> 
                  </div>
                  <div class="m-15">
                    <!-- <span class=" h1-head"> / Month</span> -->
                  </div>
                </div>
                <div class="h-split">
                  <div>
                    <span class="text-info h1-txt" *ngIf="!USD_value">{{ctc_perHour_INR | iNRCurrency:[]}}</span><span class="h1-head" *ngIf="!USD_value"> / Hour</span>  
                    <span class="text-info h1-txt" *ngIf="USD_value">{{ctc_perHour_USD | currency:'USD' : 'symbol' : '1.0-0'}}</span> <span class="h1-head" *ngIf="USD_value"> / Hour</span> 
                  </div>
                  <div class="m-15">
                  <!-- <span class=" h1-head"> / Hour</span> -->
                  </div>
                </div>
              </div>
              <div *ngIf="ctc_perAnnum_INR!=''" class="whitecolor v-split">
                <div>
                  <span class="fw-bold mb-5 whitecolor h1-head">Total Base cost</span>
                </div>
                <div class="h-split">
                  <div>
                    <span class="text-info h1-txt" *ngIf="!USD_value">{{tbc_perMonth_INR | iNRCurrency:[]}}</span> <span class="h1-head" *ngIf="!USD_value"> / Month</span> 
                    <span class="text-info h1-txt" *ngIf="USD_value">{{tbc_perMonth_USD | currency:'USD' : 'symbol' : '1.0-0'}}</span> <span class="h1-head" *ngIf="USD_value"> / Month</span> 
                  </div>
                  <div class="m-15">
                    <!-- <span class=" h1-head"> / Month</span> -->
                  </div>
                </div>
                <div class="h-split">
                  <div>
                    <span class="text-info h1-txt" *ngIf="!USD_value">{{tbc_perHour_INR | iNRCurrency:[]}}</span> <span class="h1-head" *ngIf="!USD_value"> / Hour</span> 
                    <span class="text-info h1-txt" *ngIf="USD_value">{{tbc_perHour_USD | currency:'USD' : 'symbol' : '1.0-0'}}</span> <span class="h1-head" *ngIf="USD_value"> / Hour</span> 
                  </div>
                  <div class="m-15">
                  <!-- <span class=" h1-head"> / Hour</span> -->
                  </div>
                </div>
              </div>
            </div>

            <!-- Empty Right Container -->
            <div *ngIf="ctc_perAnnum_INR==''" class="text-info whitecolor">
              <span class=" c-text">The Detailed Information will <br><br><br> be displayed here...</span>
            </div>
            <!-- Empty Right Container///// -->

            <div class="row1">
              <div *ngIf="ctc_perAnnum_INR!=''" class="whitecolor v-split">
                <div>
                  <span class="fw-bold whitecolor h1-head">Markup (%)</span>
                </div>
                <div class="h-split">
                  <div>
                    <span class="text-info h1-txt" *ngIf="!USD_value">{{markup_perMonth_INR | iNRCurrency:[]}}</span><span class="h1-head" *ngIf="!USD_value"> / Month</span> 
                    <span class="text-info h1-txt" *ngIf="USD_value">{{markup_perMonth_USD | currency:'USD' : 'symbol' : '1.0-0'}}</span><span class="h1-head" *ngIf="USD_value"> / Month</span> 
                  </div>
                  <div class="m-15">
                    <!-- <span class=" h1-head"> / Month</span> -->
                  </div>
                </div>
                <div class="h-split">
                  <div>
                    <span class="text-info h1-txt" *ngIf="!USD_value">{{markup_perHour_INR | iNRCurrency:[]}}</span><span class="h1-head" *ngIf="!USD_value"> / Hour</span> 
                    <span class="text-info h1-txt" *ngIf="USD_value">{{markup_perHour_USD | currency:'USD' : 'symbol' : '1.0-0'}}</span> <span class="h1-head" *ngIf="USD_value"> / Hour</span> 
                  </div>
                  <div class="m-15">
                  <!-- <span class=" h1-head INR-value"> / Hour</span> -->
                  </div>
                </div>
              </div>
              <div *ngIf="ctc_perAnnum_INR!=''" class="whitecolor v-split mt-3">
                <div>
                  <span class="fw-bold whitecolor h1-head">Recommended Bill Rate</span>
                </div>
                <div class="h-split">
                  <div>
                    <span class="text-info h1-txt" *ngIf="!USD_value">{{rbr_perMonth_INR | iNRCurrency:[]}}</span> <span class="h1-head" *ngIf="!USD_value"> / Month</span> 
                    <span class="text-info h1-txt" *ngIf="USD_value">{{rbr_perMonth_USD | currency:'USD' : 'symbol' : '1.0-0'}}</span> <span class="h1-head" *ngIf="USD_value"> / Month</span> 
                  </div>
                  <div class="m-15">
                    <!-- <span class=" h1-head"> / Month</span> -->
                  </div>
                </div>
                <div class="h-split">
                  <div>
                    <span class="text-info h1-txt" *ngIf="!USD_value">{{rbr_perHour_INR | iNRCurrency:[]}}</span> <span class="h1-head" *ngIf="!USD_value"> / Hour</span> 
                    <span class="text-info h1-txt" *ngIf="USD_value">{{rbr_perHour_USD | currency:'USD' : 'symbol' : '1.0-0'}}</span> <span class="h1-head" *ngIf="USD_value"> / Hour</span> 
                  </div>
                  <div class="m-15">
                  <!-- <span class=" h1-head"> / Hour</span> -->
                  </div>
                </div>
              </div>
            </div>
            
            <hr class="white-hr">
            <div class="whitecolor f-1-5vw mt-2 h-split2">
              <div>
                  <span class="f-1-5vw">Currency : 
                      <span class="text-info" *ngIf="!USD_value">INR</span>
                      <span class="text-info" *ngIf="USD_value">USD</span>
                  </span>
              </div>
              <div>
                  Operation Cost per Hour : 
                  <span class="text-info" *ngIf="!USD_value">₹50</span> 
                  <span class="text-info" *ngIf="USD_value">$1</span> 
              </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id='myHiddenPage'></div>
<!---------------- Desired Bill Rate ---------///////---->




                       <!-- <mat-form-field class="example-full-width ">
              <mat-label [class]="emp_name?.valid  ?  'mat-form-field-label1' : 'mat-form-field-label-error'">Employee Name</mat-label>
             <input matInput class="mat-input1" type="text"  placeholder=" " [matAutocomplete]="auto" formControlName="emp_name" id="employeename" name="employeename"> -->
             <!-- [formControl]="myControl"  used to filter typing  -->    
            <!-- <mat-error *ngIf="emp_name?.hasError('required')"> Employee Name is required! </mat-error>
            <mat-error *ngIf="emp_name?.hasError('minlength')"> Atleast 3 characters required! </mat-error>
            <mat-error *ngIf="emp_name?.hasError('pattern')"> Only Alphabets!</mat-error>
             <mat-autocomplete  #auto="matAutocomplete" >
              <div *ngIf=" emp_name?.valid">
               <mat-option class="mat-options" *ngFor="let option of filteredOptions | async" [value]="option">
                 {{option}}
               </mat-option>
              </div>
             </mat-autocomplete>
           </mat-form-field> -->