
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@600&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');  */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap'); /*Numbers*/

* 
{ 
  font-family: 'Signika', sans-serif; 
}
.fc
{
  border-bottom: 1px solid rgb(230, 230, 230) !important;
  border-radius: 0 !important;
}
.fc:focus
{
  border-bottom: 1px solid #119fbb !important;
}
.fc:focus + .fcl
{
  color: #119fbb !important;
}
.fc:not(:placeholder-shown) + .fcl {
  transform: translateY(-.9em) scale(0.8);
  background-color: white;
}
.fc:not(:placeholder-shown)
{
  box-shadow: 0 3px 4px -2px #119fbb !important;
}
.fcr
{
  border-bottom: 1px solid rgb(230, 230, 230) !important;
  border-radius: 0 !important;
}
.fcr:focus
{
  border-bottom: 1px solid red !important;
}
.fcr:focus + .fcl
{
  color: red !important;
}
.fcr:not(:placeholder-shown) + .fcl {
  transform: translateY(-.9em) scale(0.8);
  background-color: white;
}
.fcr:not(:placeholder-shown)
{
  box-shadow: 0 3px 4px -2px red !important;
}
.whitecolor
{
  color:white;
}

/* Angular Material */
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.example-full-width {
  width: 100%;
}
::ng-deep .mat-autocomplete-panel
{
  max-height: 120px !important;
}
::ng-deep .mat-options
{
  max-height: 40px !important;
}
::ng-deep .mat-options-error
{
  max-height: 0px !important;
}
::ng-deep .mat-focused .mat-form-field-label1 {
  color: #119fbb !important;            /*For label*/
 }
::ng-deep .mat-focused .mat-form-field-label-error {
  color: #f44336 !important;            /*For label error*/
 }
::ng-deep.mat-form-field-ripple {
 background-color: #119fbb !important;   
}
.mat-errors
{
  font-size: 12px;
  color: red;
}
/* Angular Material ///// */
.rightbox
{
  height: 70vh;
  background-color: rgb(7, 31, 53) !important;
  box-shadow: 0 0 15px 5px rgb(158, 158, 158) !important;
}
.row1
{
  display: grid;
  grid-template-columns:45% 45%;
  grid-gap:10%;
  height: 39%;
  align-items: center;
}
.v-split
{
  display: grid;
  grid-template-rows: 20% 40% 40%;
}
.h-split
{
  display: grid;
  grid-template-columns: 99% 1% ;
  padding-top:6%;
}
.h-split2
{
  display: grid;
  grid-template-columns: 55% 45% ;
}
.h-split3
{
  display: grid;
  grid-template-columns: 99% 1% ;
}
.my-pt-5
{
  padding-top: 10px !important;
}
.my-mt-7
{
    margin-top: 2.5%;
}

.white-hr
{
  color: white; 
  padding:0; 
  margin:0;
}
.copy
{
  float: right;
  font-size: 17px;
  position: absolute;
  right: 10%;
  top: 1.5%;
  padding: 8px;
  background-color: #00badf;
  border-radius: 50px;
  text-shadow: 0 0 5px rgb(0, 0, 0);
}
.copy:hover , .export:hover
{

  color:rgb(7, 31, 53); 
  text-shadow: none;

  cursor: pointer;
}
.export
{
  float: right;
  font-size: 17px;
  position: absolute;
  right: 4%;
  top: 1.5%;
  padding: 8px;
  background-color: #00badf;
  border-radius: 50px;
  text-shadow: 0px 0 5px rgb(0, 0, 0);

}
.cyan-text
{
  color:#ffffff;
}
.t1
{
  display: inline-block;
	transform: skew(25deg) !important;
}
.st-1
{
  display: inline-block;
  box-shadow: 0 0px 2px 2px #00badf;
  margin-left: 5px;
  background-color: #00badf;
  border-radius: 7px;
}
.st-2
{
  display: inline-block;
  box-shadow: 0 0px 2px 2px #9b9b9b;
  margin-left: 5px;
  background-color: #ffffff;
  border-radius: 7px;
}
.s1
{
  display: inline-block;
  padding: 2px 0;
	transform: skew(-25deg);
	background: transparent;
}
.c-text
{
  position: absolute;
  top:40%;
  width: 91%;
  font-size: 3vw;
  text-align: center;
}
.f-1-5vw
{
  font-size: 1.5vw;
}
.stretch-align
{
  height: 76% !important;
  display: grid;
  align-items: stretch;
}
.txt-align-start
{
  text-align: start !important;
}
.drophover
{
  position: relative;
  display: inline-block;
  padding-bottom:2.5px;
}
.dropdown-content 
{
  display: none;
  position: absolute;
  margin-top: 3px;
  background-color: #f9f9f9;
  min-width: 123px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
  z-index: 1;
}
.dropdown-content2 
{
  display: none;
  position: absolute;
  margin-top: 3px;
  background-color: #f9f9f9;
  min-width: 103px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
  z-index: 1;
}
.card-body2
{
  padding: 10px 25px !important;
  overflow-y: hidden;
}
.card-body1
{
  border-radius: 10px;
  padding: 3px 25px !important;
  box-shadow: 0 0 9px 1px rgb(158, 158, 158) !important;
}
.drophover:hover .dropdown-content 
{
  display: block;
}
.drophover:hover .dropdown-content2 
{
  display: block;
}
.p-0
{
  padding: 0;
}
.ul
{
  padding:0;
  margin: 0;
  list-style: none;
}
.li
{
  padding: 5px 10px;
}
.li:hover
{
  background-color: #00badf;
  color:white;
  border-radius: 5px;
  cursor: pointer;
}
.right-float
{
  float: right !important;
}
.left-float
{
  float: left !important;
}
.m-15
{
  margin-top: 15.6%;
}
.h1-txt
{
  font-size: 2.4vw;
  /* font-family: 'Alata', sans-serif; */
  font-family: 'Lato', sans-serif;
}
.h1-head
{
  font-size: 1.55vw; 
}
.h1-txt-CTC
{
  font-size: 7vw;
  font-family: 'Lato', sans-serif;
  /* font-family: 'Alata', sans-serif; */
}
.h1-head-CTC
{
  font-size: 6vw;
}
.btnn
{
  display: inline !important;
  width: 47%;
}
.Clr-Btn
{
  background-color: rgb(7, 31, 53) !important;
  color: white;
}
.Clr-Btn:hover{
  color:white;
  box-shadow: 0 0 10px 3px rgb(172, 172, 172);
  background-color: rgb(2, 25, 46) !important;
}
.error
{
font-size: 12px;
color: red;
position: absolute;
}
#myHiddenPage {
  display: none;
}
